<template name = 'consent'>
	<div class="consentContent">
	  <p>This experiment is part of a MIT scientific research
	  project. Your decision to participate in this experiment is
	  entirely voluntary. There are no known or anticipated risks to
	  participating in this experiment. There is no way for us to
	  identify you. The only information we will have, in addition
	  to your responses, is the timestamps of your interactions
	  with our site. The results of the research may be presented
	  at scientific meetings or published in scientific
	  journals. Clicking on the 'CONSENT' button on the bottom of
	  this page indicates that you are at least 18 years of age,
	  and agree to participate voluntarily.</p>
	</div>
	<center><button type="button" class='consent'>CONSENT</button></center>
</template>