<template name = 'survey'>
	<center><h2>SURVEY</h2></center>
	<p class="survey">How would you describe the strategy you used to play this game?</p>
	<input type="text" id="strategy" class='survey'><br>

	<p class="survey">Did the strategy you used change over time?</p>
	<input type="radio" name = 'one' id="strategyChange" value="Yes">Yes<br>
    <input type="radio" name = 'one' id="strategyChange" value="no">No <br>

	<p class="survey">Do you think other players used the same strategy?</p>
	<input type="radio" name = 'two' id="others" value="Yes">Yes<br>      
	<input type="radio" name = 'two' id="others" value="no">No <br>
	
	<p class="survey">Did you notice any problems or bugs in the game?</p>
	<input type="text" id="bugs" class='survey'><br>

	<center><button type="button" class='practise'>SUBMIT</button></center>

</template>