<template name = 'game'>
	
    <div class="progress" id="myProgressTwo">
    <div id="roundBar" class="progress-bar progress-bar-striped active"><div id="roundLabel"></div></div>
    <div id="roundBarFix" class="progress-bar"></div>
    </div>

    <p class="gameNum">This is game <mark class ='gameNum'>{{currentGameNum}}</mark> out of <mark class ='gameNum'>{{gameNum}}</mark>.</p>

    <h4><center>Now you are playing with <mark class ='reward'>{{number}}</mark> other people.</center></h4>
	<h4><center>Please click one of the following slot machines.</center></h4>
	
	{{> gameDisplayReward}}

	<div class="img">
        <div class="desc"><h4>You got <mark class = 'click'>{{pointOne}}</mark> point(s) out of <mark class = 'click'>{{boxOneClick}}</mark> click(s).</h4></div>
		<img id = 'armOneGame' src="slotmachine.png" alr = 'armone' style=" width:255px;height:200px;" hspace="35" class="one">
		<div class="desc"><h4><mark class = 'click'>{{clickOne}}</mark> click(s) by the group in the last round</h4></div>
		<div class="desc"><h4>Popularity：</h4></div>  
		<div class="progress" id="myProgressOne"><div id="myBarOneGame"><div id="labelOneGame"></div></div></div>	
	</div>


	<div class="img">
        <div class="desc"><h4>You got <mark class = 'click'>{{pointTwo}}</mark> point(s) out of <mark class = 'click'>{{boxTwoClick}}</mark> click(s).</h4></div>
        <img id = 'armTwoGame' src="slotmachine.png" alr = 'armtwo' style="width:255px;height:200px;" hspace="35" class="two">
        <div class="desc"><h4><mark class = 'click'>{{clickTwo}}</mark> click(s) by the group in the last round</h4></div>
        <div class="desc"><h4>Popularity：</h4></div> 
        <div class="progress" id="myProgressTwo"><div id="myBarTwoGame"><div id="labelTwoGame"></div></div></div>
    </div>

    <div class="img">
         <div class="desc"><h4>You got <mark class = 'click'>{{pointThree}}</mark> point(s) out of <mark class = 'click'>{{boxThreeClick}}</mark> click(s).</h4></div>
		<img id = 'armThreeGame' src="slotmachine.png" alr = 'armthree' style="width:255px;height:200px;" hspace="35" class="three">
        <div class="desc"><h4><mark class = 'click'>{{clickThree}}</mark> click(s) by the group in the last round</h4></div>
        <div class="desc"><h4>Popularity：</h4></div> 
        <div class="progress" id="myProgressThree"><div id="myBarThreeGame"><div id="labelThreeGame"></div></div></div>
	</div>

    <div class="img">
         <div class="desc"><h4>You got <mark class = 'click'>{{pointFour}}</mark> point(s) out of <mark class = 'click'>{{boxFourClick}}</mark> click(s).</h4></div>
        <img id = 'armFourGame' src="slotmachine.png" alr = 'armfour' style="width:255px;height:200px;" hspace="35" class="four">
        <div class="desc"><h4><mark class = 'click'>{{clickFour}}</mark> click(s) by the group in the last round</h4></div>
        <div class="desc"><h4>Popularity：</h4></div> 
        <div class="progress" id="myProgressFour"><div id="myBarFourGame"><div id="labelFourGame"></div></div></div>
    </div>



</template>