button.practise {
	background-color: #9C0945; 
	border: 2px solid #9C0945;
	color: white;
	font-size: 14px;
	border-radius: 8px;
	display: inline-block;
	padding: 10px 22px;
	font-weight: bold;
	margin-top: 50px;
}

button.practise:hover {
    background-color: white;
    color: #9C0945;
    font-weight: bold;
}

div.survey {

    margin: 10px;

}	

/*mark.firstLetter {
 
    font-weight: bold;
    font-size: 150%;

}*/