p.gameNum {
    text-align: right;
}

mark.gameNum{
  color: #9C0945;
  background-color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 150%;

}



#myBarOneGame {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #9C0945;
}


#myBarTwoGame {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #9C0945;
}


#myBarThreeGame {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #9C0945;
}

#myBarFourGame {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #9C0945;
}

#roundBar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #9C0945;
}

#roundBarFix {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #9C0945;
}

#labelOneGame {
    text-align: center; 
    line-height: 30px; 
    color: white;
}

#labelTwoGame {
    text-align: center; 
    line-height: 30px; 
    color: white;
}

#labelThreeGame {
    text-align: center; 
    line-height: 30px; 
    color: white;
}

#labelFourGame {
    text-align: center; 
    line-height: 30px; 
    color: white;
}

#roundLabel {
    text-align: right; 
    line-height: 30px; 
    color: white; 
    padding-right: 10px;
}