<template name = 'practiseGame'>
	<center><h2>PRACTISE</h2></center>
    {{#if beforeReady}}

	<h4><center>Please click one of the following slot machines.</center></h4>
	{{#if showTheRegister}}
	{{> pointCounter}}
	{{/if}}

	<div class="img">
		<img id = 'armOne' src="slotmachine.png" alr = 'armone' style=" width:255px;height:200px;" hspace="35" class="one">
		<div class="desc"><h4>This one has been cliked <mark class = 'click'>{{clickOne}}</mark> time(s).</h4></div>
		<div class="desc"><h4>Popularity：</h4></div>  
		<div class="progress" id="myProgressOne"><div id="myBarOne"><div id="labelOne"></div></div></div>
	</div>

	<div class="img">
        <img id = 'armTwo' src="slotmachine.png" alr = 'armtwo' style="width:255px;height:200px;" hspace="35" class="two">
        <div class="desc"><h4>This one has been cliked <mark class = 'click'>{{clickTwo}}</mark> time(s).</h4></div>
        <div class="desc"><h4>Popularity：</h4></div>  
        <div class="progress" id="myProgressTwo"><div id="myBarTwo"><div id="labelTwo"></div></div></div>
    </div>

    <div class="img">
		<img id = 'armThree' src="slotmachine.png" alr = 'armthree' style="width:255px;height:200px;" hspace="35" class="three">
        <div class="desc"><h4>This one has been cliked <mark class = 'click'>{{clickThree}}</mark> time(s).</h4></div>
        <div class="desc"><h4>Popularity：</h4></div>  
        <div class="progress" id="myProgressThree"><div id="myBarThree"><div id="labelThree"></div></div></div>
	</div>
	
	<div class="img">
		<img id = 'armFour' src="slotmachine.png" alr = 'armfour' style=" width:255px;height:200px;" hspace="35" class="four">
		<div class="desc"><h4>This one has been cliked <mark class = 'click'>{{clickFour}}</mark> time(s).</h4></div>
		<div class="desc"><h4>Popularity：</h4></div>  
		<div class="progress" id="myProgressFour"><div id="myBarFour"><div id="labelFour"></div></div></div>
	</div>

	<div class="ready">
	<h4><center>Plese click the botton below when you are ready to play.</center></h4>
	<center><button type="button" class="btn">READY</button></center>
	</div>

    {{/if}}

    <div id="domMessage" style="display:none;"> 
        <h3><img src="coffeeSmall.gif" />Please be patient, we are finding partners for you! {{peopleInNeed}} more people in need.</h3>

	</div> 
	
<!-- 	{{#if notEnoughPeople}}

	<div>
	<center><h4>Please wait for a moment, we are finding partners for you!</h4></center>
	<center>{{>spinner}}</center>
	</div>

	{{/if}} -->
	
</template>
